In [1]:
1/2

0.5

In [2]:
a=10

In [3]:
a

10

In [4]:
a=a+a

In [5]:
a

20

In [6]:
my_income = 200
my_taxrate = 0.25
my_net_income = my_income*my_taxrate

In [7]:
my_net_income

50.0

In [8]:
ny='abcdefgh'

In [9]:
ny

'abcdefgh'

In [10]:
ny[3:5]

'de'

In [11]:
ny[:3]

'abc'

In [12]:
ny[:5]

'abcde'

In [13]:
ny[5:]

'fgh'

In [14]:
name = 'Frank'

In [15]:
print(f'name is {name}')

name is Frank

In [16]:
f'nameis {name}'

'nameis Frank'

In [17]:
print('name is {}'.format(name))

name is Frank

In [18]:
print('the {} {} {}'.format('boy', 'is', 'good'))

the boy is good

In [19]:
v = 100/77

In [20]:
v

1.2987012987012987

In [21]:
print('{v:2.3f}'.format(v=v))

1.299

In [22]:
vv=int(v)

In [23]:
print(vv)

1

In [24]:
36*5

180

In [25]:
result =23.55556689745

In [26]:
print('the actual result is{r:8.4f}'.format(r=result))

the actual result is 23.5556

In [27]:
t = ('ade is a fine boy')

In [28]:
type(t)

str

In [29]:
set('Mississippi')

{'M', 'i', 'p', 's'}

In [30]:
%%writefile Franko.txt
"i love Python"
"it is the way to the future"
"God please help me to follow through"

Overwriting Franko.txt

In [31]:
myfile = open('Franko.txt')

In [32]:
pwd

'C:\\Users\\mailf\\Documents\\Data Science'

In [33]:
myfile.read()

'"i love Python"\n"it is the way to the future"\n"God please help me to follow through"'

In [34]:
myfile.seek(0)

0

In [35]:
myfile.read()

'"i love Python"\n"it is the way to the future"\n"God please help me to follow through"'

In [36]:
myfile.seek(0)

0

In [37]:
myfile.readlines()

['"i love Python"\n',
 '"it is the way to the future"\n',
 '"God please help me to follow through"']

In [38]:
%%writefile Frankiedodo.txt
This is another confirmation that writing text is a good thing
Some may dispute this quality venture and say whatever
But i'm strong in my opinion
that tomorrow shall be great for me with hard word and perseverance

Overwriting Frankiedodo.txt

In [39]:
pwd

'C:\\Users\\mailf\\Documents\\Data Science'

In [40]:
myfile=open('Frankiedodo.txt')

In [41]:
myfile.read()

"This is another confirmation that writing text is a good thing\nSome may dispute this quality venture and say whatever\nBut i'm strong in my opinion\nthat tomorrow shall be great for me with hard word and perseverance"

In [42]:
x=123.22233

In [43]:
print(x)

123.22233

In [44]:
xx=int(x)
print(xx)

123

In [45]:
age = 32
if (age>30 and age<=50):
    print('send $25 promocode')
elif(age>20 and age<30):
    print('send $45 promocode')
else:
    print('Dont send any promocode')

send $25 promocode

In [46]:
s=int(input('Enter the figure of your age here: '))

Enter the figure of your age here: 2

In [47]:
a=int(input('enter 1st value here'))
b=int(input('enter 2nd value here'))
c=int(input('enter 3rd value here'))

if (a>b and a>c):
    print('a is the greatest no')
elif (b>a and b>c):
    print('b is the greatest no')
else:
    print('c is the greatest no')

enter 1st value here2
enter 2nd value here3
enter 3rd value here3
c is the greatest no

In [48]:
for x in range(25,30):
    print(x)

25
26
27
28
29

In [49]:
ade="Happy Eid Maulud!!!"
for x in range(3):
    print(ade)

Happy Eid Maulud!!!
Happy Eid Maulud!!!
Happy Eid Maulud!!!

In [50]:
numbers=[1,2,3,4,5,6]
sum=0
for val in numbers:
    sum=sum+val
print('the sum is', sum)

the sum is 21

In [51]:
sum = 0
for x in range(1,7):
    sum = sum+x
print(sum)

21

In [52]:
for i in range(9,15):
    print(i+i)

18
20
22
24
26
28

In [53]:
for x in range(1,10):
    if x%2==0:
        print('even nos',x)
    else:
        print('odd numbers',x)

odd numbers 1
even nos 2
odd numbers 3
even nos 4
odd numbers 5
even nos 6
odd numbers 7
even nos 8
odd numbers 9

In [54]:
des=[1,2,3,4,5,6,7,8]
for x in des:
    if x%2==0:
        print('even no',x)
    else:
        print('odd no',x)

odd no 1
even no 2
odd no 3
even no 4
odd no 5
even no 6
odd no 7
even no 8

In [55]:
for x in range(1,10):
    if x%2==0:
        print(x)
    else:
        print('odd no',x)

odd no 1
2
odd no 3
4
odd no 5
6
odd no 7
8
odd no 9

In [56]:
print(list(range(1,200)))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199]

In [57]:
x=list(range(1,10))
even=[]
odd=[]
for i in x:
    if i%2==0:
        even.append(i)
    else:
        odd.append(i)
print('the even nos are', even)
print('the odd nos are', odd)

the even nos are [2, 4, 6, 8]
the odd nos are [1, 3, 5, 7, 9]

In [58]:
x

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [59]:
for val in "frank":
    if val=='n':
        break
    print(val)
print('end has come')

f
r
a
end has come

In [60]:
for i in 'Frank':
    if i=='n':
        continue
    print(i)
print('o ti pari')

F
r
a
k
o ti pari

In [61]:
string1="Hello world!!! How are you Doing!!!"
upper_count=0
lower_count=0
for val in string1:
    if val.islower():
        lower_count+=1
    elif val.isupper():
        upper_count+=1
        
print('this is Upper count =',upper_count)
print('this is Lower_count =',lower_count)

this is Upper count = 3
this is Lower_count = 21

In [62]:
count=0
for i in string1:
    if i=="!":
        count+=1
print("the number of count is: ",count)

the number of count is:  6

In [63]:
d=(1,2,3)

In [64]:
type(d)

tuple

In [65]:
s=("1,2,3,4,5,6")

In [66]:
x=s.split(",")

In [67]:
x

['1', '2', '3', '4', '5', '6']

In [68]:
y=[]
for i in x:
    y.append(int(i))
print(x)
print(y)
print(i)

['1', '2', '3', '4', '5', '6']
[1, 2, 3, 4, 5, 6]
6

In [69]:
s="1,2,3,4,5,6"
c=[]
for i in s.split(','):
    c.append(int(i))
print(c)

[1, 2, 3, 4, 5, 6]

In [70]:
str1="1,2,3,4,5,6"
str2=[]
for i in str1.split(','):
    str2.append(int(i))
print(str2)

[1, 2, 3, 4, 5, 6]

In [71]:
s=("frank")
print(s.center(20,"+"))

+++++++frank++++++++

In [72]:
v=[]
n=4
for i in c:
    for j in range(n):
        v.append(i)
print(v)

[1, 1, 1, 1, 2, 2, 2, 2, 3, 3, 3, 3, 4, 4, 4, 4, 5, 5, 5, 5, 6, 6, 6, 6]

In [73]:
matrix=[[1,2,3],[4,5,6],[7,8,9]]

In [74]:
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [75]:
mx=[]
for i in matrix:
    temp=[]
    for j in i:
        if j%2==0:
            temp.append(j+5)
        else:
            temp.append(j+10)
        mx.append(temp)
print(mx)

[[11, 7, 13], [11, 7, 13], [11, 7, 13], [9, 15, 11], [9, 15, 11], [9, 15, 11], [17, 13, 19], [17, 13, 19], [17, 13, 19]]

In [76]:
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [77]:
x=[]
for row in matrix:
    x.append(row[-1])
print(x)

[3, 6, 9]

In [78]:
x= int(input("enter a number here"))

enter a number here45

In [79]:
def even_odd(n):
    if n%2==0:
        print('the no is even')
    else:
        print('the no is odd')

In [80]:
n=int(input())

35

In [81]:
even_odd(n)

the no is odd

In [82]:
def sweet(my_boo):
    print( 'hello sweet fella {}'.format(my_boo))

In [83]:
sweet('shegman')

hello sweet fella shegman

In [84]:
def nomenclature(oruko):
    print('isese awon baba nla wa ni {}'.format(oruko))

In [85]:
nomenclature('Jesu Olugabla wa rawapada')

isese awon baba nla wa ni Jesu Olugabla wa rawapada

In [86]:
print('ade is a {} {} {}'.format('dumb','big','boy'))

ade is a dumb big boy

In [87]:
def even_odd(no):
    if no%2==0:
        print('The number is even')
    else:
        print('This one is odd')

In [88]:
no=(int(input()))
even_odd(no)

23
This one is odd

In [89]:
def abami_no(n):
    
    if n%2==0:
        print('Eleyi o nki se abami')
        
    else:
        print('Abami number re o!')
        
n=int(input())
    
abami_no(n)

25
Abami number re o!

In [90]:
def prime(num):
    
    for n in range(2,num):
        if num % n==0:
            print('not prime')
            break
    else:
        print('na prime')

In [91]:
num=prime(19)

na prime

In [92]:
os.getcwd()

NameError: name 'os' is not defined

In [93]:
import os

In [94]:
os.getcwd()

'C:\\Users\\mailf\\Documents\\Data Science'

In [95]:
import pandas as pd
import numpy as np

In [96]:
names=['ade','sola','daisi']
np.random.seed(12)

In [97]:
print(gender)

NameError: name 'gender' is not defined

In [100]:
url= "https://knoema.com/atlas/India/Number-of-arrivals"
BB_data =pd.read_html(url)

In [107]:
BB_data[0].head(19)

    Date     Value Change, %
0   2016  14569000    9.67 %
1   2015  13284000    1.35 %
2   2014  13107000   88.10 %
3   2013   6968000    5.93 %
4   2012   6578000    4.26 %
5   2011   6309000    9.23 %
6   2010   5776000   11.76 %
7   2009   5168000   -2.18 %
8   2008   5283000    3.96 %
9   2007   5082000   14.28 %
10  2006   4447000   13.47 %
11  2005   3919000       NaN

In [110]:
BB_data[0].to_excel("the data from india.xlsx")

In [3]:
import numpy as np

In [4]:
import matplotlib.pyplot as plt

In [8]:
import math as m

In [7]:
dir (math)

['__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'ceil',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'e',
 'erf',
 'erfc',
 'exp',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'pi',
 'pow',
 'radians',
 'sin',
 'sinh',
 'sqrt',
 'tan',
 'tanh',
 'tau',
 'trunc']

In [9]:
m.ceil(9.1)

10

In [3]:
import fibo

In [4]:
help(fibo)

Help on module fibo:

NAME
    fibo - # coding: utf-8

FUNCTIONS
    fib(n)

    fib2(n)

FILE
    c:\users\mailf\documents\data science\fibo.py

In [5]:
fibo.fib2(100)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

In [6]:
i=10
j=0
i/j

ZeroDivisionError: division by zero

In [7]:
import sqlite3